:root {
  --accent-logo-color: #4d5ae5;
  --accent-color: #404bbf;

  --primary-color: #fff;

  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color: #f4f4fd;

  --primary-bg: #2e2f42;
  --secondary-bg: #f4f4fd;
  --overlay-bg: #4d5ae5;
  --primary-button-color: #4d5ae5;

  --line-color: #e7e9fc;

  --duration: 300ms;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);

  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

.section {
  padding: 120px 0;
}

.section--pt-0 {
  padding-top: 0;
}

.section--pt-96 {
  padding-top: 96px;
}

.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo__prefix {
  color: var(--accent-logo-color);
}

.page-header__logo {
  color: var(--primary-text-color);
}

.page-footer__logo {
  color: var(--text-color);
}

/* Header */

.page-header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: var(--primary-color);
}

.page-header::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 1px;

  background-color: var(--line-color);
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__link {
  display: block;

  text-decoration: none;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.site-nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.site-nav__link {
  position: relative;

  display: inline-block;
  padding: 24px 0;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;

  transition: color var(--duration) linear;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link--active {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;

  transition: opacity var(--duration) linear;
}

.site-nav__link:hover::after,
.site-nav__link--active::after {
  opacity: 1;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list__link {
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);

  transition: color var(--duration) linear;
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
}

/* Studio page */

/* Hero section */

.hero-section {
  padding: 188px 0;

  background-color: var(--primary-bg);
}

.hero-section__title {
  margin: 0 auto 48px auto;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-color);
}

.hero-section__button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--primary-color);

  background-color: var(--primary-button-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color var(--duration) linear;
}

.hero-section__button:hover {
  background-color: var(--accent-color);
}

/* Advantages section */

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list__item {
  flex-basis: 264px;
}

.advantages-list__title {
  margin-bottom: 8px;
}

/* Services section */

.services-list {
  display: flex;
  gap: 24px;
}

.services-list__item {
  max-width: 360px;
  width: 100%;
  height: 300px;
}

.services-list__img {
  height: 100%;

  object-fit: cover;
  object-position: center;
}

/* Team section */

.team-section {
  background-color: var(--secondary-bg);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: 264px;

  background-color: var(--primary-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list__thumb {
  max-width: 264px;
  width: 100%;
  height: 260px;
}

.team-list__img {
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.person-info {
  flex-grow: 1;
  padding: 32px 16px;

  text-align: center;
}

.person-info__title {
  margin-bottom: 8px;
}

/* Portfolio page */

/* Projects section */

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-list__button {
  padding: 11px 23px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-button-color);

  background-color: var(--secondary-bg);
  border: 1px solid var(--line-color);
  border-radius: 4px;

  cursor: pointer;

  transition: color var(--duration) linear,
    background-color var(--duration) linear, border-color var(--duration) linear,
    box-shadow var(--duration) linear;
}

.filter-list__button:hover,
.filter-list__button:focus,
.filter-list__button--active {
  color: var(--primary-color);

  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 48px;
}

.projects-list__link {
  position: relative;

  display: block;
  height: 100%;

  text-decoration: none;
  color: inherit;

  transition: box-shadow var(--duration) linear;
}

.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.projects-list__link:hover .project-overlay,
.projects-list__link:focus .project-overlay {
  transform: translateY(0);
}

.projects-list__link::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  border: 1px solid var(--line-color);
  background-color: var(--primary-color);
}

.projects-list__thumb {
  position: relative;

  max-width: 360px;
  width: 100%;
  height: 300px;

  overflow: hidden;
}

.projects-list__img {
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.projects-list__content {
  padding: 32px 16px;
}

.projects-list__title {
  margin-bottom: 8px;
}

.project-overlay {
  position: absolute;
  top: 0;
  height: 0;

  padding: 40px 32px;
  width: 100%;
  height: 100%;

  background-color: var(--overlay-bg);

  transform: translateY(100%);

  transition: transform var(--duration) linear;
}

.project-overlay__description {
  color: var(--text-color);
}

/* Footer */

.page-footer {
  margin-top: auto;
  padding: 100px 0;

  background-color: var(--primary-bg);
}

.page-footer__link {
  display: block;
  margin-bottom: 16px;

  text-decoration: none;
}

.page-footer__description {
  max-width: 264px;

  color: var(--text-color);
}
