:root {
  --primary-color: #fff;

  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color: #f4f4fd;

  --primary-bg: #2e2f42;
  --secondary-bg: #f4f4fd;
  --primary-button-bg-color: #4d5ae5;

  --line-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);

  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

.section {
  padding: 120px 0;
}

.section--pt-0 {
  padding-top: 0;
}

.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.page-header {
  position: sticky;
  top: 0;

  padding: 24px 0;

  background-color: var(--primary-color);
}

.page-header::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: var(--line-color);
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.site-nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.site-nav__link {
  display: inline-block;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list__link {
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

/* Hero section */

.hero-section {
  padding: 188px 0;

  background-color: var(--primary-bg);
}

.hero-section__title {
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-color);
}

.hero-section__button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--primary-color);

  background-color: var(--primary-button-bg-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

/* Advantages section */

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list__item {
  flex-basis: 264px;
}

.advantages-list__title {
  margin-bottom: 8px;
}

/* Services section */

.services-list {
  display: flex;
  gap: 24px;
}

.services-list__item {
  max-width: 360px;
  width: 100%;
  height: 300px;
}

.services-list__img {
  height: 100%;

  object-fit: cover;
  object-position: center;
}

/* Team section */

.team-section {
  background-color: var(--secondary-bg);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: 264px;

  background-color: var(--primary-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list__thumb {
  max-width: 264px;
  width: 100%;
  height: 260px;
}

.team-list__img {
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.person-info {
  flex-grow: 1;
  padding: 32px 16px;

  text-align: center;
}

.person-info__title {
  margin-bottom: 8px;
}

/* Footer */

.page-footer {
  padding: 100px 0;

  background-color: var(--primary-bg);
}

.page-footer__link {
  display: block;
  margin-bottom: 16px;
}

.page-footer__description {
  max-width: 264px;

  color: var(--text-color);
}
